{% extends 'admApp/base.html' %}
{% block content %}
<h2>Herramientas</h2>
<a href="{% url 'herramienta_create' %}" class="btn btn-primary mb-3">Nueva herramienta</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th><th>Marca</th><th>Tipo</th><th>Categoría</th><th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for h in herramientas %}
    <tr>
      <td>{{ h.nombre }}</td>
      <td>{{ h.marca }}</td>
      <td>{{ h.tipo }}</td>
      <td>{{ h.categoria }}</td>
      <td>
        <a href="{% url 'herramienta_update' h.id_herramienta %}" class="btn btn-warning btn-sm">Editar</a>
        <a href="{% url 'herramienta_delete' h.id_herramienta %}" class="btn btn-danger btn-sm">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
